.stepper {
	margin-top: 8px;
	background-color: #0a1128;
}

.mat-form-field {
	margin-top: 16px;
}

.content{
	padding-top: 1.5%;
}

.welcome{
	padding-top: 1.5%;
	>.logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	>.text_box{
		text-align: center;
	}
}
.mr-xl-5{
	margin-right: 0 !important;
}
