<div class="welcome" *ngIf="isShowDivIf">
	<img src="logo.jpg" class="logo" alt="Kyoo">
	<div class="text_box">
		<br>
		<h4>Thanks for installing Kyoo</h4>
		<br>
		<button (click)="toggleDisplayDivIf()" class="mr-xl-5" color="accent"
				mat-raised-button matTooltip="Start Configuration" matTooltipPosition="above">
			<mat-icon>tune</mat-icon>
			Start Configuration
		</button>
	</div>
</div>

<div class="content" *ngIf="!isShowDivIf">
	<mat-stepper class="stepper" [orientation]="(stepperOrientation | async)!">
		<mat-step [stepControl]="firstFormGroup" label="Media Library" state="library">
			<form [formGroup]="firstFormGroup">
				<div>

				</div>
				<div>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="secondFormGroup" label="Preferred MetaData Language">
			<form [formGroup]="secondFormGroup">

				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="thirdFormGroup" label="Remote Access">
			<form [formGroup]="thirdFormGroup">
				<div>

				</div>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Done</ng-template>
			<p>You are now done.</p>
			<div>
				<button mat-button matStepperPrevious>Back</button>
				<button mat-button (click)="Register()">Register</button>
			</div>
		</mat-step>
	</mat-stepper>
</div>
