<div>
	<div class="recommendation">
		<div class="backdrop">
			<img id="backdrop" [src]="this.show.backdrop" alt="backdrop" />
		</div>
		<div class="textBox">
			<p class="show-title"><strong>{{this.show.title}}</strong></p>
			<br>
			<p class="show-overview">{{this.show.overview}}</p>
			<br>
			<button mat-raised-button matTooltipPosition="above" matTooltip="Play" class="mr-5" color="accent" (click)="playClicked()">
				Watch <mat-icon>play_arrow</mat-icon>
			</button>
		</div>
	</div>
</div>

