<div>
	<div class="recommendation">
		<div class="backdrop">
			<img id="backdrop" [src]="this.show.backdrop" alt="backdrop" />
		</div>
		<div class="textBox">
			<h1><p class="title">{{this.show.title}}</p></h1>

			<p class="show-overview">{{this.show.overview}}</p>

			<button mat-raised-button matTooltipPosition="above" matTooltip="Info" class="mr-5" color="accent" (click)="infoClicked()">
				More infos <mat-icon>info</mat-icon>
			</button>

			<button mat-raised-button matTooltipPosition="above" matTooltip="Play" class="mr-5" color="accent" (click)="playClicked()">
				Watch <mat-icon>play_arrow</mat-icon>
			</button>
		</div>
	</div>
	<br>
	<div class="arrival">
		<h3><p class="title">New Arrival</p></h3>
		<app-episodes-list [episodes]="episodes[season]"></app-episodes-list>
	</div>
	<br>
	<br>
	<div class="resume">
		<h3><p class="title">Resume</p> </h3>
		<app-episodes-list [episodes]="episodes[season]"></app-episodes-list>
	</div>
</div>

