@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "variables";

.backdrop
{
	margin-top: -68px;
	position: relative;
	z-index: -1;

	> img
	{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-height: 80vh;
		object-fit: cover;
		min-height: 50vh;

		@include media-breakpoint-up(md)
		{
			min-height: 80vh;
		}
	}

	&:after
	{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%),
		   				  linear-gradient(to left,rgba(0, 0, 0, 0.7),rgba(0,0,0,0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1));
		//@include media-breakpoint-down(md){
		//	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(11, 18, 41) 100%),
		//					linear-gradient(to left,rgba(0, 0, 0, 0.7),rgba(0,0,0,0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1));
		//}
	}
}

.textBox
{
	text-align: justify;
	padding-left: 2.5em;

	@include media-breakpoint-down(md){
		position: relative;
		margin-top: -30%;
		padding-right: 3%;
	}
	@include media-breakpoint-up(md)
	{
		position: absolute;
		top:30vh;
		right: 60%;
	}

	@include media-breakpoint-up(lg)
	{
		position: absolute;
		top:30vh;
		right: 70%;
	}

	@include media-breakpoint-up(xl)
	{
		position: absolute;
		top:30vh;
		right: 70%;
	}
}

.recommendation {
	position: relative;
}

.title
{
	color: white;
	font-weight: bold;
	opacity: 100%;
}
.show-overview
{
	opacity: 100%;
	@include media-breakpoint-down(md){
		position: absolute;
		visibility: hidden;
	}
	@include media-breakpoint-up(md){
		visibility: visible;
	}
	@include media-breakpoint-up(lg){
		visibility: visible;
	}
	@include media-breakpoint-up(xl){
		visibility: visible;
	}
}
.arrival
{
	padding-left: 2.5em;
}
.resume
{
	padding-left: 2.5em;
}
